body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

header, footer {
  flex-shrink: 0;
}

header {
  width: 100%;
  display: flex;
  background-color: rgb(11, 19, 32);
  height: 80px;
}
header a {
  font-size: 20px;
  text-decoration: none;
  padding: 0 15px 0 15px;
}
header div {
  padding: 15px;
}
header .logo {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .logo img {
  max-height: 100%;
}
header .main-links {
  width: 70%;
  text-align: center;
  display: flex;
  align-items: center;
}
header .main-links a {
  color: #8799b5;
  transition: 0.3s;
  font-size: 17px;
  font-weight: bold;
}
header .main-links a:hover {
  color: #9fef00;
}
header .auth-links {
  width: 20%;
  text-align: right;
  display: flex;
}
header .auth-links div a {
  color: #8799b5;
  transition: 0.3s;
}
header .auth-links div a:hover {
  color: #9fef00;
}
header .auth-links div .button {
  width: 100%;
  padding: 15px;
  background-color: #9fef00;
  color: #141d2b;
  outline: none;
  border: none;
  font-weight: bold;
  border-radius: 3px;
  transition: 0.3s;
}
header .auth-links div .button:hover {
  background-color: #5ce60c;
  cursor: pointer;
}
header .auth-links div .button {
  padding: 12px;
}
header .auth-links div .button:hover {
  color: #141d2b;
}

footer {
  text-align: center;
  background-color: rgb(11, 19, 32);
  width: 100%;
  color: #9fef00;
}

.main {
  background-color: #151f2e;
}

.section-about-me {
  width: 70%;
  background-color: #203000;
  border: 1px solid #304800;
  border-radius: 15px;
  padding: 60px;
  transition: all 0.3s;
}
.section-about-me:hover {
  transform: scale(1.02);
}
.section-about-me h2 {
  color: #9fef00;
  width: fit-content;
  padding: 10px 15px 10px 15px;
  border-radius: 25px;
  background-color: #304800;
  margin: 0;
}
.section-about-me .title-am {
  padding-bottom: 20px;
}
.section-about-me .img-text-am {
  margin: 0;
  display: flex;
}
.section-about-me .img-text-am .div-img-am {
  width: 40%;
  border-radius: 40px;
  background-color: #304800;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-about-me .img-text-am .div-img-am figure {
  width: fit-content;
}
.section-about-me .img-text-am .div-img-am figure img {
  border-radius: 40px;
  max-width: 100%;
}
.section-about-me .img-text-am .div-text-am {
  width: 60%;
  padding: 40px;
}
.section-about-me .img-text-am .div-text-am p {
  color: #9fef00;
  margin: 0;
  font-size: 25px;
}

.my-alert {
  background-color: #9fef00;
  color: #304800;
  border-color: #203000;
}

.main-section {
  flex-grow: 1;
  padding: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-section .titles-auth {
  width: 100%;
  color: white;
  text-align: left;
}
.main-section .login-form {
  width: 400px;
  height: 350px;
}
.main-section .login-form form {
  background-color: #151f2e;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.main-section .login-form form .div-inputs {
  flex-grow: 1;
  padding: 25px;
}
.main-section .login-form form .div-inputs div {
  margin: 0;
  width: 100%;
}
.main-section .login-form form .div-inputs h2 {
  font-size: 14px;
  color: #8799b5;
  text-align: left;
}
.main-section .login-form form .div-inputs .inputs {
  background: #1e2939;
  border: solid 0.7px #2b3747;
  border-radius: 4px;
  width: 95%;
  height: 30px;
  color: white;
  padding: 0 10px 0 10px;
}
.main-section .login-form form .div-inputs .inputs:focus {
  outline: none;
  color: white;
}
.main-section .login-form form .div-inputs .button {
  width: 100%;
  padding: 15px;
  background-color: #9fef00;
  color: #141d2b;
  outline: none;
  border: none;
  font-weight: bold;
  border-radius: 3px;
  transition: 0.3s;
}
.main-section .login-form form .div-inputs .button:hover {
  background-color: #5ce60c;
  cursor: pointer;
}
.main-section .register-form {
  width: 800px;
  height: 600px;
}
.main-section .register-form form {
  background-color: #151f2e;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
}
.main-section .register-form form .div-inputs {
  flex-grow: 1;
  padding: 25px;
  flex-basis: calc(50% - 10px);
}
.main-section .register-form form .div-inputs div {
  margin: 0;
  width: 100%;
}
.main-section .register-form form .div-inputs h2 {
  font-size: 14px;
  color: #8799b5;
  text-align: left;
}
.main-section .register-form form .div-inputs .inputs {
  background: #1e2939;
  border: solid 0.7px #2b3747;
  border-radius: 4px;
  width: 95%;
  height: 30px;
  color: white;
  padding: 0 10px 0 10px;
}
.main-section .register-form form .div-inputs .inputs:focus {
  outline: none;
  color: white;
}
.main-section .register-form form .div-inputs .button {
  width: 100%;
  padding: 15px;
  background-color: #9fef00;
  color: #141d2b;
  outline: none;
  border: none;
  font-weight: bold;
  border-radius: 3px;
  transition: 0.3s;
}
.main-section .register-form form .div-inputs .button:hover {
  background-color: #5ce60c;
  cursor: pointer;
}
.main-section .register-form form .exception {
  flex-basis: 100%;
}

.auth {
  background: linear-gradient(180deg, rgb(11, 19, 32) 0%, rgb(24, 30, 41) 100%);
}

.title-welcome {
  color: white;
  font-size: 35px;
}

/*# sourceMappingURL=desktop.css.map */
