//Sections
$main_color: rgba(11, 19, 32, 1);
$second_color:#151f2e;
$third_color: #1e2939;
$fourth_color: #9fef00;
$fifth_color: #5ce60c;
$sixth_color: #203000;
$seventh_color: #304800;

//Fonts
$main_font_color: white;
$second_font_color: #8799b5;
$third_font_color: #141d2b;
$titles: 20px;

//Times
$buttons_transitions: 0.3s;