@use 'variables';
@use 'mixins' as util;

body{
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

header, footer{
    flex-shrink: 0;
}



//BASE
header{
width: 100%;
display: flex;
background-color: variables.$main_color;
height: 80px;

    a{
        font-size: variables.$titles;
        text-decoration: none;
        padding: 0 15px 0 15px;
    }

    div{
        padding: 15px;
    }

    .logo{
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            max-height: 100%;
        }
    }

    .main-links{
        width: 70%;
        text-align: center;
        display: flex;
        align-items: center;

        a{
            color: variables.$second_font_color;
            transition: variables.$buttons_transitions;
            font-size: 17px;
            font-weight: bold;
            &:hover{
                color:  variables.$fourth_color;    
            }
        }
    }

    .auth-links{
        width: 20%;
        text-align: right;
        display: flex;
        div{
            a{
                color: variables.$second_font_color; 
                transition: variables.$buttons_transitions;

                &:hover{
                    color:  variables.$fourth_color;
                }
            }

            .button{
                @include util.button();
                padding: 12px;

                &:hover{
                    color:  variables.$third_font_color;
                }
            }
        }
    }
}

footer{
    text-align: center;
    background-color: variables.$main_color;
    width: 100%;
    color: variables.$fourth_color;
}
//ENDBASE

//INDEX
.main{
    background-color: variables.$second_color;
}

.section-about-me{
    width: 70%;
    background-color: variables.$sixth_color;
    border: 1px solid variables.$seventh_color;
    border-radius: 15px;
    padding: 60px;
    transition: all 0.3s;

    &:hover{
        transform: scale(1.02);
    }

    h2{
        color: variables.$fourth_color;
        width: fit-content;
        padding: 10px 15px 10px 15px;
        border-radius: 25px;
        background-color: variables.$seventh_color;
        margin: 0;
    }

    .title-am{
        padding-bottom: 20px;
    }

    .img-text-am{
        margin: 0;
        display: flex;

        .div-img-am{
            width: 40%;
            border-radius: 40px;
            background-color: variables.$seventh_color;
            padding: 40px;
            display: flex;
            justify-content: center;
            align-items: center;

            figure{
                width:  fit-content;
                
                img{
                    border-radius: 40px;
                    max-width: 100%;
                }
            }
        }

        .div-text-am{
            width: 60%;
            padding: 40px;
            
            p{
                color: variables.$fourth_color;
                margin: 0;
                font-size: 25px;
            }
        }

        
    }

}
//END INDEX


//LOGIN AND REGISTER

.my-alert{
    background-color: variables.$fourth_color;
    color: variables.$seventh_color;
    border-color: variables.$sixth-color;
}

.main-section{
    flex-grow: 1;
    padding: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .titles-auth{
        width: 100%;
        color: white;
        text-align: left;
    }

    .login-form{
        width: 400px;
        height: 350px;

        form{
            background-color: variables.$second_color;
            height: 100%;
            display: flex;
            flex-direction: column;
            border-radius: 10px;

            .div-inputs{
                flex-grow:1;
                padding: 25px;

                @include util.form-similarities()
            }
        }

    }

    .register-form{
        width: 800px;
        height: 600px;

        form{
            background-color: variables.$second_color;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            border-radius: 10px;

            .div-inputs{
                flex-grow: 1;
                padding: 25px;
                flex-basis: calc(50% - 10px);

                @include util.form-similarities()
            }

            .exception{
                flex-basis: 100%;
            }
        }
    }
}

.auth{
    background: linear-gradient(180deg,rgba(11, 19, 32, 1) 0%, rgb(24, 30, 41) 100%);
}
//END LOGIN AND REGISTER

//WELCOME
.title-welcome{
    color: variables.$main_font_color;
    font-size: 35px;
}
//END WELCOME