<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/css/desktop.css">
    <title>Login App</title>
</head>
<body class="{%block bg%}{%endblock%}">
    {% if request.path != '/login' and request.path != '/register' %}
    <header>
        <div class="logo">
            <img src="static/images/logo.png" alt="">
        </div>
        <nav class="main-links">
            <div>
                <a href="{{url_for('auth.index')}}">Main Page</a>
                <a href="https://www.instagram.com/sgl21_2003/" target="_blank">Instagram</a>
                <a href="https://www.facebook.com/santiagogiron2003" target="_blank">Facebook</a>
                <a href="https://www.linkedin.com/in/santiago-giron-lozano-b43272255/" target="_blank">LinkedIn</a>
                <a href="mailto:gironlozano1975@gmail.com" target="_blank">Gmail</a>
                <a href="https://discord.com/users/602328078026539020" target="_blank">Discord</a>
            </div>
        </nav>
        <div class="auth-links">
            {%if current_user.is_authenticated %}
                <div>  
                    <a href="{{url_for('auth.logout')}}">Logout</a>
                </div>
            {%else%}
                <div>
                    <a href="{{url_for('auth.login')}}">Login</a>
                </div>
                <div>
                    <a class="button" href="{{url_for('auth.register')}}">Register</a>
                </div>
                
            {%endif%}
            </div>
    </header>
    {%endif%}  
    
    <section class="main-section">
        {%block main_content%}
        {%endblock%}
    </section>
    {% if request.path != '/login' and request.path != '/register' %}
    <footer class="footerasd">
        <h2>copyright</h2>
    </footer>
    {%endif%}
</body>
</html>