{%extends 'base.html'%}

{%block bg%}main{%endblock%}

{%block main_content%}
    <section class="section-about-me">
        <div class="title-am">
            <h2>About Me</h2>
        </div>
        <div class="img-text-am">
            <div class="div-img-am">
                <figure>
                    <img src="static/images/yo.jpg" alt="">
                </figure>
            </div>
            <div class="div-text-am">
                <p>I am an Information Systems Technologist with a strong interest in continuous learning and the constant improvement of my technical skills. I pursue ongoing training through courses and projects that allow me to expand my knowledge and adapt to new technological trends.</p>
                <br>
                <p>I have experience developing solutions using Python, as well as managing relational (MySQL, SQLite) and non-relational (MongoDB) databases. I am also proficient in frameworks such as Flask, Django, and Laravel, which allows me to develop efficient and scalable web applications.</p>
                <br> 
                <p>Currently, I am focused on strengthening my knowledge of Artificial Intelligence, with the goal of specializing in this field and providing innovative solutions that generate value. I am motivated to actively contribute to a company's growth, contributing my skills, commitment, and willingness to take on new challenges.</p>
            </div>
        </div>
    </section>
    
{%endblock%}
