{%extends 'base.html'%}

{%block main_content%}
    <form method="POST">
        {{form.hidden_tag()}}
        {{form.name.label}}{{form.name}}
        {{form.last_name.label}}{{form.last_name}}
        {{form.user_name.label}}{{form.user_name}}
        {{form.age.label}}{{form.age}}
        {{form.email.label}}{{form.email}}
        {{form.password.label}}{{form.password}}
        {{form.password_check.label}}{{form.password_check}}
        {{form.button}}
    </form>
{%endblock%}